
.container-left{
    float:left
}


.container-img-big{
    height:75%;
    width:75%
}

.container-img-small{
    height:25%;
    width:75%
}

.heading{
    padding:20px;
}

td,th{
    padding:10px;
}