<div>
    <div>
        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <h3 class="heading">
                        My projects
                    </h3>
                </div>
                <div class="container">
                    <div>
                        <p>Search by tag: </p>
                    </div>
                    <div>
                        <input type="text" ng-model="filterText" ng-change="searchItemWithText()" />
                    </div>
                </div>
                <div class="container alert alert-warning" ng-show="!projectDetails.length">
                    <p>No project(s) with the tag: {{filterText}}</p>
                </div>
                <div>
                    <ul class="inline paginationControlList">
                        <li>
                            <h5>Pages:</h5>
                        </li>
                        <li ng-repeat="pageNumber in totalPagesRequired">
                            <a href="#/projects" ng-click="setCurrentPage(pageNumber)" ng-class="getClassForSelectedPage(pageNumber)">{{pageNumber}}</a>|
                        </li>
                    </ul>
                </div>
                <hr/>
                <div class="col-xs-12 container" ng-show="projectDetails.length">
                    <table class="table-responsive table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-1">Name</th>
                                <th class="col-xs-3">Description</th>
                                <th class="col-xs-2">Project URL</th>
                                <th class="col-xs-4">Tags</th>
                                <th class="col-xs-1">Project started on</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in projectDetails | orderBy : 'order' : true">
                                <td>
                                    <span>{{item.name}}</span>
                                </td>
                                <td>
                                    <div ng-bind-html="item.details"></div>
                                </td>
                                <td>
                                    <a ng-href="{{item.project_url}}">{{item.project_url}}</a>
                                </td>
                                <td>
                                    <span ng-repeat="tag in item.tags" ng-class="getTagClass(tag)">{{tag}}</span>
                                </td>
                                <td>
                                    <span>{{item.monthName}}, {{item.year}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr/>
                <div>
                    <ul class="inline paginationControlList">
                        <li>
                            <h5>Pages:</h5>
                        </li>
                        <li ng-repeat="pageNumber in totalPagesRequired">
                            <a href="#/projects" ng-click="setCurrentPage(pageNumber)" ng-class="getClassForSelectedPage(pageNumber)">{{pageNumber}}</a>|
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>